.row-img {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.img-div {
  margin-top: 15px;
}

.img-profile {
  border-radius: 50%;
}

.profile-description {
  margin-top: 10px;
  text-align: left;
}

.fa-star {
  color: #F0B917;
}

.itens-reviews {
  background-color: #FBF0F0;
  margin-right: 0px;
}

.title-your-reviews {
  text-align: center;
}

ul {
  list-style-type: none;
}

.title-instruments {
  text-align: center;
}

.instrument-item {
  margin-right: 10px;
}

.instrument-item p {
  font-size: 24px;
}

.title-all-rents {
  text-align: center;
}



