.data-inst {
  background-color: #FBF0F0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
}

.data-inst h1 {
  padding-left: 15px;
}

.data-signup {
  background-color: #FBF0F0;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 400px;
}

.data-signup h1 {
  padding-left: 5px;
}

.form-inst {
  width: 350px;
  margin-bottom: 15px;
}

.form-actions {
  margin-bottom: 15px;
}
