
<div class="container">

  <h1>Rents</h1>

  <div>
    <ul>
      <% @rents.each do |rent| %>
      <li> <%= link_to rent.start_date, rent_path(rent) %> </li>
      <hr>
      <% end %>
    </ul>
  </div>

  <p class="btn btn-primary"> <%= link_to "back to all", instruments_path %> </p>

</div>
