<div class="container">
  <div>
    <h1>Search Instruments</h1>
    <p></p>
  </div>

  <div>
    <%= form_tag(instruments_path, method: :get) do %>
      <%= text_field_tag :term, nil, placeholder: "e.g. guitar, drums..." %>
      <%= submit_tag 'Search' %>
    <% end %>
  </div>

</div>
