<div class="container">

  <h1>Instruments</h1>

  <% @instruments.each do |instrument| %>
    <div class="card"> <%= link_to instrument.category, instrument_path(instrument) %> </div>
    <hr>
    <% end %>
    <p></p>

  <p class="btn btn-primary"> <%= link_to "Add Instrument", new_instrument_path %> </p>

</div>
