
<div class="container">

  <h1>Instruments</h1>

  <div>
    <ul>
      <% @instruments.each do |instrument| %>
      <li> <%= link_to instrument.category, instrument_path(instrument) %> </li>
      <p>-----------------------------------</p>
      <% end %>
    </ul>
  </div>
</div>
